<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: page('Offline', ~{:: content})}">
<body>
<th:block th:fragment="content">
    <div class="container text-center py-5">
        <h1 class="display-5">Nincs internetkapcsolat</h1>
        <p class="lead">Úgy tűnik, jelenleg nem vagy online. Kérlek, ellenőrizd a kapcsolatot, majd próbáld újra.</p>
        <a th:href="@{/}" class="btn btn-primary">Újrapróbálkozás</a>
    </div>
</th:block>
</body>
</html>
